html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

.css-mhxa-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  max-height: 350px !important;
}

.height-fill-available {
  height: -webkit-fill-available;
}

.growth.high {
  background-color: rgba(33, 186, 69, 0.15);
  padding: 10px;
  border-radius: 10px;
}

.growth.lower {
  background-color: #fff5f5;
  color: #b71818;
  padding: 10px;
  border-radius: 10px;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-flex;
}

.low,
.very_low {
  background-color: #b71818;
}
.average {
  background-color: #ff986b;
}
.high,
.excellent {
  background-color: #16a34a;
}
.overflowX {
  overflow-x: auto;
}

.hover-icon-heart:hover {
  color: red;
}

.title-gradient {
  background: linear-gradient(90deg, #12b5de -30%, #3dd1fe 30%, #ff3bd4 90%);
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-datatable .rdt_TableHeadRow,
.dark-datatable .rdt_TableBody,
.dark-datatable .rdt_Pagination,
.dark-datatable .rdt_Pagination button,
.dark-datatable .rdt_TableRow,
.dark-datatable .cPTFZC {
  background-color: #2f3348 !important;
  color: white !important;
  fill: white !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  max-height: 450px !important;
}
